
########### import
snippet im "import"
import ${1}
endsnippet

snippet imp "import"
import ${1:module}
${2}
endsnippet

########### single char
snippet t "True"
True${1}
endsnippet

snippet f "False"
False${1}
endsnippet

snippet n "None"
None${1}
endsnippet

snippet r "return"
return ${1}
endsnippet

snippet s "self."
self.${1}
endsnippet

snippet p "print"
print(${1})
endsnippet

snippet pr "print "
print("${1}")
endsnippet

snippet pri "print ''"
print('${1}')
endsnippet
